<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <h3 th:text="${count}"></h3>

    <table class="table">
        <tr th:each="map : ${jobs}">
        <tr>
            <td class="bg-success"></td>
            <td class="bg-success"></td>
        </tr>
        <tr th:each="job : ${map}">
            <th th:text="${#strings.capitalizeWords(job.key)}"></th>
            <td th:text="${job.value}"></td>
        </tr>

        </tr>
    </table>

</div>

</body>
</html>